@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&display=swap');

body {
  margin: 0;
  background-color: rgb(27, 28, 63);
  font-family: 'Advent Pro', sans-serif;
  font-weight: bold;
  font-size: large;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 1300px;
  height: 600px;
  border-radius: 5px;
  padding: 20px;
  background-color: azure;
  box-shadow: 10px 10px 5px rgb(30, 120, 143);
  text-align: justify;
  overflow-y: auto;
}

.card::-webkit-scrollbar {
  width: 0;
}

.map-container {
  height: 100%;
}
